{% extends 'base.html.twig' %}

{% block title %}Déclarer une indisponibilité{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Déclarer une indisponibilité</h1>

    {{ form_start(form) }}
        {{ form_row(form.personnel) }}
        {{ form_row(form.date) }}
        {{ form_row(form.plage) }}
        {{ form_row(form.raison) }}
        <button class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_home') }}" class="btn btn-link mt-3">Retour à l’accueil</a>
</div>
{% endblock %}