{% extends 'base.html.twig' %}

{% block title %}Liste des plannings{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <h1>Liste des plannings</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Employé</th>
                <th>Début</th>
                <th>Fin</th>
                <th>État</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.personnel.nom ~ ' ' ~ planning.personnel.prenom }}</td>
                <td>{{ planning.dateDebut|date('d/m/Y H:i') }}</td>
                <td>{{ planning.dateFin|date('d/m/Y H:i') }}</td>
                <td>
                    {{ planning.suiviPlannings|last ? planning.suiviPlannings|last.etat.libelle : 'N/A' }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('planning_calendar') }}">Retour au calendrier</a>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
