{% extends 'base.html.twig' %}
{% block title %}Liste des plannings{% endblock %}
{% block body %}
  <h2>Plannings</h2>
  <a href="{{ path('planning_new') }}" class="btn btn-primary mb-3">Ajouter</a>
  <table class="table">
    <thead><tr><th>Date</th><th>Plage</th><th>Personnel</th><th>Action</th></tr></thead>
    <tbody>
      {% for p in plannings %}
        <tr>
          <td>{{ p.date|date('Y-m-d') }}</td>
          <td>{{ p.plage }}</td>
          <td>{{ p.personnel.prenom }} {{ p.personnel.nom }}</td>
          <td><!-- actions --></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}